/* common shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  font-size: 17px;
  font-weight: 700;
  border: 0;
  color: #fff;
  padding: 18px 35px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 160px;
  padding-top: 40px;
}
.nav-title {
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  margin-right: 50px;
  color: #474747;
}
/* header related styles */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"), url("../images/developer.png");
  background-size: 590px, 70px;
  background-repeat: no-repeat;
  background-position: bottom right, 30px ;

}
/* .developer-image{
  position: absolute;
  top: 25px;
  height: 540px;
  left: 40px
} */
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic {
  width: 400px;
}
.banner-greeting {
  font-size: 35px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  font-size: 55px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 15px;
}
.banner-description {
  width: 500px;
  margin-bottom: 20px;
}
.banner-content {
  max-width: 500px;
}

/* main section style */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about section styles */
.section-description {
  color: #757575;
  text-align: center;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}
.about {
  padding: 120px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 100px 100px;
}
#about-title {
  margin-bottom: 40px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
.info-title {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}
.info-description {
  color: #474747;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

#what-description {
  padding: 0 190px;
}

/* skills section */

.skill {
  width: 227px;
  height: 280px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 20px;
}
.skills-container {
  display: flex;
  justify-content: space-around;
  padding: 30px 90px;
}
.skill .same {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
}
.skill .nodejs {
  width: 34px;
  height: 40px;
  flex-shrink: 0;
}
.skill .react {
  width: 40px;
  height: 38px;
  flex-shrink: 0;
}
.skill img {
  margin-bottom: 20px;
}
.skill .skills-title {
  margin-bottom: 20px;
  color: #181818;
  font-size: 16px;
  font-weight: 700;
}
.skill .skills-description {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
#what-title {
  margin-bottom: 40px;
}
/* resume related css */
.resume {
  padding: 40px 90px;
}
#section-title {
  margin-bottom: 60px;
  margin-top: 40px;
}
.resume-container {
  display: flex;
  justify-content: space-between;
}
.education-container {
  width: 95%;
  padding-bottom: 20px;
}
.experience-container {
  width: 95%;
  padding-bottom: 20px;
}
.education-title {
  color: #474747;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 25px;
}
.education-degree {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 4px;
}
.education-duration {
  color: #757575;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.education-description {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px;
  width: 90%;
}
.experience-title {
  color: #474747;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 25px;
}
.experience-degree {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 4px;
}
.experience-duration {
  color: #757575;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.experience-description {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px;
  width: 90%;
}
.btn-resume {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}
/* footer section */
footer {
  display: flex;
  background: #fff8f3;
  padding: 70px 150px 70px 150px;
  gap: 80px;
}
.footer-column {
  width: 50%;
  
}

.section-description {
  color: #474747;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 20px;
}
#footer-title, .section-description, .social-icons{
  text-align: left;
}
#footer-title{
  margin-bottom: 28px;

}
.description-mobile{
  margin-top: 0;
}
.social-icons img{
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
#footer-column{
  display: flex;
  flex-direction: column;
}
input, textarea{
  border-radius: 5px;
  background: var(--White-Color, #FFF);
  border:0;
  padding: 15px 25px;
  margin-bottom: 20px;
}


/* Responsive Design */

.hide{
  display: none;
}
/* small device */


@media screen and (max-width:596px) {

  /* footer section */

  
  footer{
    flex-direction: column;
    padding: 10px;
  }
  .footer-column{
    width: 100%
  }
  .footer-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
  }
  #footer-title, .section-description, .social-icons{
    text-align: center;
  }
  #footer-title{
    margin-bottom: 
  }
  input, textarea{
    width: 100%
  }
  #footer-column{
    width: 100%;
  }
  #btn-footer{
    text-align: center;
  }

  /* resume section */

  .resume-container{
    flex-direction: column;
    
  }
  .resume{
    padding: 40px 20px;
  }


/* what i do section */


  #what-title{
    margin-bottom: 20px;
  }
  #what-description{
    padding: 0 20px;
  }
  .skills-container{
    flex-direction: column;
    padding: 30px 20px;
    gap: 20px
  }
  .skill{
    width: 100%
  }

/* about me section */


.about{
  padding: 60px 20px;
  margin: 60px 0;
  
}
.about-info-container{
  flex-direction: column;
  gap: 10px;
}

/* header section */


.banner{
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.banner .profile-pic{
  width: 100%;
  margin-bottom: 20px;
  padding: 0 20px;

}

.header{
  background-image: none;
}

nav{
  flex-direction: column;
}

/* banner section */


ul li .hire-me{
  display: block;
}
nav{
  padding: 20px 20px;
  margin: 0;
}
.nav-title{
  padding-bottom: 30px;
}
.banner{
  padding: 30px 20px;
}
.banner-description{
  width: auto;
  padding-bottom: 20px;
}
.btn-1{
  text-align: center;
  margin-bottom: 10px;
}
.banner-content, .banner-greeting, .banner-description{
  text-align: center;
}



}

/* Medium Device */
@media screen and (min-width: 596px) and (max-width: 992px) {
  
}